<div class="row">
<div class="col-12 col-md-6">


<h2 class='fs-3 fw-bold text-white my-3'>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, autofocus: true,label_html: {class:"text-white my-2"}  %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p class="text-white">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :name,
                autofocus: true,
                input_html: { autocomplete: "name" },
                label_html: {class:"text-white my-2"} %>
    <%= f.input :username,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label_html: {class:"text-white my-2"} %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" },
                label_html: {class:"text-white my-2"} %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label_html: {class:"text-white my-2"} %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                input_html: { autocomplete: "current-password" },
                label_html: {class:"text-white my-2"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class:"btn btn-dark my-2" %>
  </div>
<% end %>

<h3 class="text-white fs-5">Cancel my account</h3>

<p class="text-white">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"text-white btn btn-dark" %></p>

<%= link_to "Back", :back, class:'btn btn-dark' %>

</div>
</div>
