<header class="site-header sticky-top py-1 bg-dark">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
  <%= link_to root_path, class:"py-2" do %>
  <i class="fas fa-users fa-2x"></i>
  <% end %>
<span class="float-end">

  <%= create_post_btn %>
    <%= current_user_btn %>
      <%= sign_out_btn %>
      <%= sign_up_btn %> 
      <%= log_in_btn %>
</span>
  </nav>
</header>